@import 'tailwindcss';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --primary: #AAD9BB;
    --text-gray: #6B747B;
    --text-black: #252C38;
    --accent:  #FFB900;
    --secondary: #5CC4C6;
    --primary-bg: #AAD9BB22;
    --gradient-blue: #C5EAF9;
} 